body{
    padding: 0;
    margin: 0;
    background-image: url(img/1544496994-10.jpeg);
    background-size: cover;
    font-family: 'Monstserrat', sans-serif;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.box{
    position: absolute;
    width: 580px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius: 15px; 
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .2);
}
.header {
    background-image:url(img/1544496994-10.jpeg);
    background-size: cover;
    padding: 200px 90px;
    padding-left: 70px;
    padding-right: 20px;
    color: white ;
}
.header h4{
    font-size: 60px;

}
.header p{
    font-size: x-small;
}
.login-area{
    text-align: left;
    padding: 50px 50px 30px 50px;
    margin: 5px;
}
.login-area h1{
    font-size: 25px;
    text-align: center;
    padding-top: 1px;
    font-family: sans-serif;
}
.login-area p{
    text-align: center;
    font-family: sans-serif;
}
.username, .password , .text,.alamat{
    width: 100%;
    text-align: center;
    padding: 13px 5px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(70, 130, 180, 0.8);
    margin-bottom: 10px;
    transition: 0.5s;
}
.username::placeholder,.jurusan::placeholder,
.password::placeholder,.alamat::placeholder{
    color: rgb(255, 255, 255, .7);
}
.username:focus,.jurusan:focus,
.password:focus,.alamat:focus {
    background-color: rgb(70, 130, 180, 1.2);
}
.submit,.clear{
    width: 120px;
    padding: 10px;
    background-color:#191970;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}
.jurusan, .prodi{
    width: 50%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(70, 130, 180, 0.8);
    margin-bottom: 15px;
    transition: 0.5s;
}
.login{
    width: 80px;
    padding: 10px;
    background-color:#191970;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}
a {
    font-size: 12px;
    font-family: sans-serif;
}